PORT=3026
CHOKIDAR_USEPOLLING=true
REACT_APP_NODE_URL=http://192.168.1.117:3016

REACT_APP_PYTHON_API_URL=http://192.168.1.121:8002

REACT_APP_DEFAULT_CURRENCY=₹

REACT_APP_GENERATE_WITH_AI=false

REACT_APP_DEBUG=true
